<% provide(:title, 'Nosotros') %>
<h1>Nosotros</h1>
<p>
  <span class="cbblog-mini">Cb-blog</span> es un proyecto diseñado y desarrollado con el objetivo de coordinar el trabajo de control escolar de la zona así como también el de incrementar la comunicación entre los diferentes elementos de dicho departamento.
</p>