<footer class="footer">
  <small>
    <p>Desarrollado por: arturo morás.</p>
  </small>
  <nav>
    <ul>
	  <li><%= link_to "Nosotros",		nosotros_path %></li>
	  <li><%= link_to "Contacto",		contacto_path %></li>
	  <li><a href="http://sitiocobaes.cobaesenlinea.com/sitiocobaes/">Cobaes</a></li>
	<ul>
  </nav>
  <img src="/images/FooterWide.jpg" />
</footer>